"*":
  "autocomplete-plus": {}
  autosave: {}
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "open-on-github"
      "background-tips"
      "archive-view"
      "dev-live-reload"
      "image-view"
      "package-generator"
      "welcome"
      "autocomplete-atom-api"
      "autosave"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.1
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "highlight-line":
    hideHighlightOnSelect: true
  "one-dark-ui": {}
  "status-bar": {}
  tabs: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
".text.xml":
  editor:
    tabLength: 2
